body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
.design{
    color: crimson;
}
.half-width{
    width: 600px;
    padding-left: 20px;
}
.half-width image{
    width: 50px;
}
.top-banner{
    display: flex;
    margin-bottom: 180px;
}
.link-button{
   text-decoration: none ;
   background-color: rgb(0, 165, 0);
   background-image: -moz-linear-gradient(rgb(255, 255, 255));
   font-weight: 700;
   padding: 05px 20px;
   border-radius: 20px;
}
.paint{
    color: crimson;
}.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Euro-cup{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 150px;
}
.half-width image{
    width: 600px;
}
.broken{
    color: green;
}
.heart{
    color: crimson;
}
.link-button1{
    text-decoration: none;
    background-color: blueviolet;
    font-weight: 700;
    border-radius: 20px;
    background-image: -moz-linear-gradient(orange);
    padding: 05px 20px;
}